[Unit]
Description=HomeGuard Audio Simulator - Primeiro Andar
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/pi/HomeGuard/raspberry_pi3/first
ExecStart=/usr/bin/python3 /home/pi/HomeGuard/raspberry_pi3/first/audio_first.py
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
